@font-face {
    font-family: 'bebas-neue-regular';
    src: url('../fonts/bebas-neue-regular.otf');
}

@font-face {
    font-family: 'bpg_square';
    src: url('../fonts/bpg_square_2009.ttf');
}       
@font-face {
    font-family: 'alk-tall';
    src: url('../fonts/alk-tall-mtavruli-webfont.ttf');
}

@font-face {
    font-family: 'archyedt-bold';
    src: url('../fonts/archyedt-bold-webfont.ttf');
}       

@font-face {
    font-family: 'bpg-nino-elite';
    src: url('../fonts/bpg-nino-elite-webfont.ttf');
}     

@font-face {
    font-family: 'bpg-nino-medium';
    src: url('../fonts/bpg-nino-medium-condenced-webfont.ttf');
}      

@font-face {
    font-family: 'bpg-ingiri-arial';
    src: url('../fonts/bpg-ingiri-arial-webfont.ttf');
}    

@font-face {
    font-family: 'arial-geo';
    src: url('../fonts/arial-geo-webfont.ttf');
}        