.home {
	background: url('../img/sculpture.jpg') no-repeat;
	background-size: cover;
	height: 100vh;
}
.main-container {
	max-width: 75%;
	width: 100%;
	height: 10vh;
	margin: 0 auto;
}
.social-icons {
	float: right;
    margin-top: 2%;
    margin-right: 2.2%;
}
.facebook {
	width: 2.2vw;
}
.facebook:hover {
    width: 2.5vw;
}
/*.clear:after {
	content: "";
	clear: both;
	display: block;
}*/
.img-title {
	font-family: 'alk-tall';
    font-size: 18.5vw;
    letter-spacing: 1.85vw;
    color: #F3F7FC;
    position: absolute;
    bottom: 1.7%;
    z-index: 1;
    left: 50%;
    -webkit-transform: translateX(-50%);
}
.lower-layer {
	height: 18vh;
    width: 100%;
    background-color: #B7B09E;
    position: absolute;
    bottom: 0%;
}
.name-layer {
    height: 8vh;
    width: 22.81%;
    background-color: #3C393C;
    position: absolute;
    bottom: 18vh;
    z-index: 1; 
    /*visibility: hidden;*/
}
.name-layer p {
	font-family: 'alk-tall';
    font-size: 9vh;
    /*font-weight: 800;*/
    color: #F3F7FC;
    right: -2%;
    position: absolute;
    letter-spacing: 0.7vw;
    line-height: 8.7vh;
}


/*ABOUT*/

.about {
    /*background: url('../img/backgroung-img.png');*/
    background-color: #3C393C;
    background-size: cover;
    height: 100vh;
    position: relative;
}
h1 {
    font-family: 'archyedt-bold' !important;
    font-size: 6vh !important;
    text-align: center;
    color: #FFFFC4;
    position: absolute;
    /*left: 24%;
    top: 15%;
    width: 13%;*/
}
.levan {
    position: absolute;
    width: 22%;
    height: 66.8%;
    bottom: 22%;
    left: 12.7%;
    top: 17%;
}
.carousel-inner .item {
    padding: 5%;
 /*   font-weight: bold;*/
    letter-spacing: 1px;
}
#myCarousel {
    /*width: 55%;*/
    height: 55.7%;
    background-color: #C1BAAA;
    left: 34.7%;
    right: 14.57%;
    top: 17%;
    position: absolute;
    font-family: 'bpg_square';
    font-size: 2.3vh;
}
.carousel-control.left, .carousel-control.right {
   background-image:none !important;
   filter:none !important;
   opacity: 1;
}
.left.carousel-control, .right.carousel-control {
    width: 50%;
    height: 20%;
    position: absolute;
    top: 100%;
}

.arrow-left {
    transform: rotate(180deg);
    /*top: 30%;*/
    margin-top: 2.6%;
    width: 15%;
}
.arrow-right {
    margin-top: 2.6%;
    width: 15%;
}
.left.carousel-control, .right.carousel-control {
    background-color: #D3CCBC;

}
.right.carousel-control:hover .left.carousel-control:hover {
    background-color: #C1BAAA;
}


/*GALLERY*/

.gallery {
    background-color: #C1BAAA;
    padding-left: 12.7%;
    padding-top: 5vh;
}
h2 {
    font-family: 'alk-tall' !important;
    font-size: 10vh !important;
    letter-spacing: 1vh;
}
.gallery-slider {
    height: 85vh;
    background-color: #C1BAAA;
    padding-top:  2vh;
    /*text-align: center;*/
    /*padding-left: 6.4%;*/
    /*padding-right: 6.7%;*/
}
/*.gallery img {
    height: 30vh;
    top: 20%;
}*/
a img {
    height: 40%;
    width: 15%;
    margin-right: 2%;
    margin-top: 2%;
}

/*LOCATION*/

h3 {
    font-family: 'alk-tall' !important;
    font-size: 10vh !important;
    letter-spacing: 1vh;
    color: #F3F7FC !important;
}
.location {
    background-color: #3C393C;
    padding-left: 12.7%;
    padding-top: 5vh;
    height: 50vh;
}

/*CONTACT*/

.contact {
    background-color: #C1BAAA;
    height: 96vh;
}
h4 {
    font-family: 'alk-tall' !important;
    font-size: 10vh !important;
    letter-spacing: 1vh;
    color: #3C393C !important;
    padding-left: 12.7% !important;
    padding-top: 5vh !important;
}
input {
    background-color: #F2F2F2;
}
input#name,#email,#message{
    width: 70%;
    height: 6vh;
    border: 1px solid #ffffff;
    margin-top: 1vh;
    margin-bottom: 1vh;
}
input#notification {
    width: 70%;
    height: 25vh;
    border: 1px solid #ffffff;
    margin-top: 1vh;
    margin-bottom: 3vh;
}
label {
    font-family: "archyedt-bold";
}
.sendbox {
    margin-left: 12%;
    padding-top: 6vh;
}
a.send {
    color: #ffffff;
    font-family: "archyedt-bold";
    border: 8px solid #000000;
    background-color: #000000;
    font-size: medium;
}

/*FOOTER*/

.footer {
    background-color: #3C393C;
    height: 7vh;
}
